.item {
  display: inline-block;
  margin-right: 5%;
  transform: scale(0.9, 0.9) rotate(5deg);
  transition: all 0.35s;
  flex-grow: 1;
  width: 90%;
  height: 90%;
  z-index: 15;
}
.polaroid {
  background: #fff;
  padding: 16px 8px;
  width: 90%;
  height: 100%;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
}
.img {
  height: 80%;
  width: auto;
  margin: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileImg {
  position: relative !important;
  height: 100% !important;
  width: auto !important;
}
.caption {
  margin: auto 0;
  font-size: calc(5vh);
  text-align: center;
  line-height: 2em;
}
.item .polaroid:before {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
  z-index: 15;
}
.item:hover .polaroid:before {
  content: "";
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 7%;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.35s;
}

