$blue: #87ceeb;
$softBlue: #cce5ff;
$hardBlue: #6495ed;

.left {
  width: 68%;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  height: 96%;
}
.right {
  box-sizing: border-box;
  width: 29%;
  height: 100%;
}

.roomInfo {
  height: 30%;
  margin-bottom: 10px;
  border-radius: 30px;
  padding: 15px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
.roomData {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  border-radius: 2px;
  line-height: 160%;
  background-color: #f9f9f9;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(#e4e4e4 1px, transparent 1px);
  background-size:
    20% 20%,
    2px 2px;
  // border: 0.5px solid;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  span {
    width: 20%;
  }
}


////////////
.lock{
  position: absolute;
  top: 10px; right: 700px;
}

.roomName{
  height: 30px;
  margin-bottom: 20px;
  position: absolute;
  top: 10px; 
}

.roomName>span{
  font-size: 30px;
  font-weight: bold;
  margin-left: 12px;
}

.bottomInfo{
  height: 70px;
  display: flex;
  justify-content: space-around; 
}

.quizInfo {
  flex: 1; 
  margin: 0 5px; 
  display: flex;
  justify-content: space-around; 
}

.quizInfoTitle{
  flex: 1; 
  margin: 0 5px;
}

.quizInfoContent{
  flex: 1; 
  margin: 0 5px;
  color: #c93131;
}

.quizInfoContent>p{
  margin: 0;
  font-size: 18px;
}

.numberInfo {
  flex: 1;
  margin: 0 5px; 
}

///////////////////

.chatting {
  height: 70%;
  background: rgba($color: $softBlue, $alpha: 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  padding-left: 15px;
  box-sizing: border-box;
}

.roomUser {
  box-sizing: border-box;

  width: 100%;
  height: 75%;
  position: relative;
  margin: 5px 0;
  display: flex;
}

// 겜시작 버튼
.startBtn {
  box-sizing: border-box;

  position: relative;
  margin-top: 8%;
  bottom: 0;
  right: 0;
  width: 98%;
  height: 14%;
}
.span {
  position: relative;
  padding-top: 25.92%;
  display: block;
  background-size: 100% 100%;
  font-size: 4vh;
  text-decoration: none;
  color: #333;
  margin: 0;
}
.background-button {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/323909/yellow-shadow.png);
  background-repeat: no-repeat;
  background-size: cover;

  &:after {
    content: attr(title);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/323909/yellow-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover:after {
    -webkit-transform: translate(2.5%, 5%);
    transform: translate(2.5%, 5%);
    text-shadow: 2px 2px 1px white;
    color: black;
  }
  &:active:after {
    -webkit-transform: translate(2.5%, 10%);
    transform: translate(2.5%, 10%);
    text-shadow: 2px 2px 1px white;
    color: black;
  }
}
.button-wrapper {
  box-sizing: border-box;

  display: inline-block;
  position: relative;
  bottom: 13%;
  right: 0;
  width: 100%;
  height: 100%;
}
.BtnActive {
  &:after {
    -webkit-transform: translate(2.5%, 10%);
    transform: translate(2.5%, 10%);
    text-shadow: 2px 2px 1px white;
    color: black;
  }
}
