.flex {
  width: 100%;
  height: 95%;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.top {
  position: relative;
  box-sizing: border-box;

  top: -20px;
  width: 100%;
  height: 10%;
  z-index: 15;
}
.timerContainer {
  box-sizing: border-box;

  position: relative;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  .quizNum {
    position: absolute;
    padding-top: 10px;
    font-size: 3.5vh;
  }
  .timerTime {
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 4vh;
  }

  .progressBar {
    top: 10px;
    width: 100%;
    height: auto;
    background-color: #dedede;
    border-radius: 12px;
    font-weight: 600;
    font-size: 0.8rem;
    overflow: hidden;
    position: relative;
  }
  .progress {
    height: 30px;
    padding: 0;
    text-align: center;
    background-color: skyblue;
    color: #111;
    border-radius: 12px;

    transition: width 1s linear;
  }
  .image {
    position: absolute;
    height: 100px;
    aspect-ratio: 1812 / 2500;
    top: 10px;
    transition: right 1s linear;
  }
}
.noTransition {
  transition: none !important;
}

.flex2 {
  display: flex;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  width: 100%;
  height: 85%;

  box-sizing: border-box;
  overflow: hidden;
}
.left {
  width: 20%;
  height: 100%;
  margin: 0 15px;

  box-sizing: border-box;

  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 20px;
}
.center {
  width: 50%;
  height: 100%;
  margin: 0 15px;

  position: relative;
}

.right {
  width: 25%;
  height: 100%;
  margin: 0 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 20px;
  box-sizing: border-box;
}

.quizContainer {
  .backImage {
    position: absolute;
    height: 100%;
    width: auto;
    aspect-ratio: 359 / 768;
    // opacity: 70%;
    top: 0;
    right: 0;
  }
  .correctImage {
    position: absolute;
    top: 5%;
    left: 15%;
    height: 90%;
    aspect-ratio: 1 / 1;
    opacity: 0.6;
    z-index: 11;
  }

  z-index: 10;
  position: relative;

  width: 100%;
  height: 100%;
  padding: 10px 50px;
  box-sizing: border-box;

  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.25);

  .quizType {
    font-size: 3vh;
  }
  .quizTitle {
    box-sizing: border-box;

    min-height: 20%;

    margin-top: 0;
    font-size: 5vh;
    color: #4f7482;
    font-weight: 700;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #c2c2c2;
    position: relative;

    word-wrap: break-word;

    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
  .endTitle {
    padding-top: 10%;
    height: auto;
  }
  .quizDesc {
    box-sizing: border-box;

    font-size: 3.5vh;
    line-height: 1.5em;
    margin-bottom: 8%;
    height: 15%;

    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    position: relative;
  }
  .quizDescHint {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    box-sizing: border-box;
    height: 55%;
    width: 103%;
    font-size: 2.5vh;

    overflow-y: auto;

    .hint {
      padding: 5px 0;
    }

    /* 스크롤 CSS */
    &::-webkit-scrollbar {
      width: 10px;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      height: 30%;
      background: var(--color-softblue);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background: lightgray;
      border-radius: 10px;
    }
  }
  .Isanswer {
    height: 50%;
    color: blue;
    font-size: 10vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .IsEnd {
    height: 40%;
    font-size: 5vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    box-sizing: border-box;
    width: 100%;
    height: 20%;
    padding: 34px 45px;
    left: 0;
    bottom: 0;

    position: absolute;
    background: #c2c2c2;

    input {
      margin: 0;
      font-size: 5vh;
      width: 100%;
      text-align: center;
      position: relative;
      top: -5%;
    }
    .isSubmit {
      background: #ccc;
    }

    .quote {
      &::before {
        top: 0px;
        left: 16px;
        color: #fff;
        content: "“";
        font-size: 3em;
        position: absolute;
        text-shadow: -3px 0 #c2c2c2;
      }
      &::after {
        height: 50px;
        right: 16px;
        color: #fff;
        content: "”";
        bottom: -10px;
        font-size: 3em;
        position: absolute;
        text-shadow: 3px 0 #c2c2c2;
      }
    }
  }
}

// 미니 스코어

$base-color: #89cff0;
$end-color: #d3e0ea;

.leaderboard {
  box-sizing: border-box;
  position: relative;
  top: -15px;
  width: 98%;
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
  background: linear-gradient(to bottom, #f0f8ff, #d3e0ea);

  h1 {
    font-weight: 500;
    font-size: 3vh;
    color: #333333;
    padding: 8px 13px 4px 18px;
    text-align: center;
    height: 4%;
    margin-bottom: 0;

    & .icon {
      position: relative;
      top: 3px;
      margin-right: 8px;
      vertical-align: baseline;
    }
  }

  ol {
    counter-reset: leaderboard;
    margin: 5% 0;
    padding: 0;

    box-sizing: border-box;
    height: 90%;
    li {
      position: relative;
      font-size: 2.5vh;
      padding: 9px 10px 9px 50px;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1, 1);
      list-style-type: none;

      height: 10%;
      box-sizing: border-box;
      background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);

      // 등수
      &::before {
        content: counter(leaderboard);
        counter-increment: leaderboard;
        position: absolute;
        top: 40%;
        left: 15px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: $base-color;
        background: #fff;
        border-radius: 20px;
        text-align: center;
      }

      // 이름
      mark {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 18px 10px 18px 50px;
        margin: 0;
        background: none;
        color: #686868;
        box-sizing: border-box;
      }

      small {
        position: relative;
        display: block;
        text-align: right;
        margin-right: 20px;
        padding-top: 8px;
        box-sizing: border-box;
        color: #686868;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5%;
        background: $base-color;
        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
        transition: all 0.3s ease-in-out;
        opacity: 0;
      }

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          $color: mix($end-color, $base-color, ($i - 1) * 10%);
          background: $color;

          &::after {
            background: $color;
            box-shadow: 0 -#{$i / 2}px 0 rgba(0, 0, 0, 0.1);
          }
          & mark {
            &::before,
            &::after {
              border-bottom: #{$i * 2}px solid darken($color, 20%);
              top: -#{$i + 3}px;
              bottom: auto;
              border-top: none;
            }
          }
        }

        &:last-child {
          border-radius: 0px 0px #{$i * 2}px #{$i * 2}px;

          &::after {
            border-radius: 0px 0px #{$i * 2}px #{$i * 2}px;
          }
        }
      }
    }
  }
}

.image1 {
  position: absolute;
  right: 3%;
  top: 35%;

  width: auto;
  height: 50%;
  aspect-ratio: 1;

  opacity: 0.8;
  z-index: 0;
}
