.top {
  width: 98%;
  height: 30vh;
  border: 1px solid black;
}
.container {
  display: flex;
  width: 100%;
}
.left {
  width: 72%;
  height: 72vh;
  margin: 15px;
  border: 1px solid black;
}
.right {
  width: 25%;
  height: 72vh;
  margin: 15px 0;
  border: 1px solid black;
}
