.left {
  width: 30%;
  height: 100%;
  margin: 0;
}
.right {
  width: 70%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* 프로필 */
.profile {
  width: 100%;
  height: 70%;
  margin: 0;
  padding: 0;
  position: relative;
  top: -3%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 5%;
}
/* 내 등수 */
.RankDiv {
  width: 100%;
  height: 20%;
  margin: 0;
  padding: 0;
  position: relative;
  top: -5%;
}
/* 내 랭킹 도장 */
.myRank {
  height: 160% !important;
  width: auto !important;
  margin: 0 auto;
  position: relative;
  top: -10%;
  border-radius: 50%;
}
.rankContainer {
  position: absolute;
  width: 34%;
  aspect-ratio: 1 / 1;
  height: auto;
  top: 20%;
  left: 33%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}
.rankNum {
  position: absolute;
  width: 30%;
  bottom: -20%;
  left: 37%;
  font-size: calc(2.5vh);
  font-weight: bold;
  transform: rotate(-7.634deg);
  text-align:center;
}

/* 상위 랭크 */
.RankArray {
  width: 95%;
  height: 98%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.RankItem {
  border-bottom: 1px solid black;
  box-sizing: border-box;
  height: 8%;
  width: 95%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.RankButton {
  height: 40px;
  width: 90px;
  text-align: center;
  border-radius: 3px;
  background-color: grey;
}
.itemNum {
  width: 60px;
  height: 30px;

  font-size: 1.2rem;
  font-weight: bold;
  text-align: end;
}
.rankLevel {
  width: 40px;
  height: 40px;

  border: 1px solid black;
}
.rankName {
  width: 400px;
  text-align: center;
}

