.container {
  display: flex;
  width: 100%;
}
.left {
  width: 25vw;
  height: 72vh;
  margin: 10px;
}
.leftProfile {
  margin-top: 5vh;
  width: 25vw;
}

.right {
  width: 70%;
  height: 72vh;
  margin: 15px 0;
}
.buttonContainer {
  width: 25vw;
  height: 10vh;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button {
  border: 1px solid black;
  text-align: center;
  height: 50px;
  width: 20vw;
  margin: 10px 0;
}
.buttonText {
  font-size: 30px;
  font-weight: bold;
}

.profileData {
  border: 1px solid black;
  border-radius: 10px;
  width: 60vw;
  height: 70vh;
  margin-left: 2vw;
}

.profileNav {
  display: flex;
  flex-direction: row;
}
.profileNav div {
  background-color: #fff;
  border: 1px solid black;
}

.updateProfile {
  border: 1px solid black;
  margin-left: 5vw;
  width: 60vw;
  height: 70vh;
}
