.container {
  display: flex;
  width: 100%;
  height: 100%;
}
.left {
  width: 30%;
  height: 100%;
  margin: 0;
}
.right {
  width: 70%;
  height: 100%;
  margin: 0;
}
.search {
  position: relative;
  margin: 0;
  padding: 0;
  left: calc(95% - 300px);
  top: 20px;
  height: 45px;
  width: 300px;
  padding: 6px 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 22px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.rightBottom {
  width: 100%;
  margin-top: 25px;
  height: calc(100% - 100px);
}

// 회원 검색창
.searchForm {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .searchText {
    height: 90%;
    width: 70%;
    margin: 0 10px;
    padding: 0 10px;
    border-radius: 30px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #444;
    &:focus,
    &:active {
      outline: none;
      border: none;
    }
  }
  .searchBtn {
    width: 10%;
    height: 90%;

    background: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    padding: 0 5px;
  }
  .icon {
    height: 100%;
    size: 100%;
  }
}

.leftProfile {
  position: relative;
  left: 8%;
  width: 100%;
  height: 70%;
}
.buttonContainer {
  width: 100%;
  height: 23%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button {
  width: 80%;
  height: 30%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 13px;
  background-size: 200% auto;
}
.button:hover,
.button:focus {
  background-position: right center;
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  animation: gelatine 0.5s 1;
}
.button,
.button:link,
.button:visited {
  background-color: #ffdab9;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.buttonText {
  font-size: 3.5vh;
}
@mixin transform($properties) {
  -webkit-transform: $properties;
  -ms-transform: $properties;
  transform: $properties;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}
@include keyframes(gelatine) {
  from,
  to {
    @include transform(scale(1, 1));
  }
  25% {
    @include transform(scale(0.9, 1.1));
  }
  50% {
    @include transform(scale(1.1, 0.9));
  }
  75% {
    @include transform(scale(0.95, 1.05));
  }
  from,
  to {
    @include transform(scale(1, 1));
  }
  25% {
    @include transform(scale(0.9, 1.1));
  }
  50% {
    @include transform(scale(1.1, 0.9));
  }
  75% {
    @include transform(scale(0.95, 1.05));
  }
}
.profileData {
  border-radius: 10px;
  width: 90%;
  height: 95%;
  margin: 0 auto;
  margin-top: 3%;

  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 22px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: relative;
}
.profileContainer {
  position: relative;
  width: 95%;
  height: 95%;
  margin: 0 auto;
  top: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
}

$text: var(--color-grey-text);
$m01: var(--color-blue-m1);
$m02: var(--color-blue-m2);
$n01: var(--color-blue-n1);
$n02: var(--color-blue-n2);
.content {
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}
.tabs {
  margin: 0;
  background-image: linear-gradient(135deg, $n01 0%, $n02 50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  width: 50%;
  border-radius: 2px 2px 0px 0px;
}
.tablinks {
  background: transparent;
  background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);
  border: none;
  outline: none;
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vh;
  overflow: hidden;
  transition: 0.3s ease;

  &:before {
    background-image: linear-gradient(135deg, $m01 0%, $m02 100%);
    content: "";
    width: 100%;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    z-index: 2;
  }
  &:hover::before {
    height: 100%;
    z-index: 2;
    bottom: 0;
  }
}

.tablinks.active {
  background-color: white;
  z-index: 0;
  border-right: 0px;
  border-left: 0px;
  height: 110px;
  bottom: 0px;
  overflow: hidden;

  &:before {
    content: "";
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;
  }
}

.tablinks.active p,
.tablinks.active:hover p {
  opacity: 1;
  background: -webkit-linear-gradient(135deg, $m01 0%, $m02 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tablinks p {
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: 0.5s ease;
  padding: 0;
  margin: 0;
  color: $text;
  backface-visibility: hidden;
  letter-spacing: 3px;
  font-weight: 500;
}
.tablinks:hover p {
  color: white;
  opacity: 1;
}

.wrapper_tabcontent {
  background-color: white;
  margin-top: 0px;
  z-index: -3;
  position: relative;
  opacity: 1;
  padding: 20px;
  overflow: hidden;
  transition: all 1s ease;
  top: 0;
  height: 70%;
}
.tabcontent {
  display: none;
  height: 80%;
}
@keyframes tabEffect {
  from {
    top: -40px;
  }
  to {
    top: 0px;
  }
}
.tabcontent.active {
  transition: all 1s ease;
  display: block;
}
.wrapper_tabcontent:after {
  content: "";
  height: 5px;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(135deg, $m01 0%, $m02 100%);
  left: 0;
  bottom: 0;
  z-index: -2;
  transition: all 1s ease;
}

/* Title */
.tabcontent h3 {
  font-size: 40px;
  top: 75px;
  transform: rotate(90deg);
  position: absolute;
  left: -90px;
  opacity: 0.1;
  width: 200px;
  height: 60px;
  background: -webkit-linear-gradient(135deg, $m01 0%, $m02 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  animation: city 1s ease;
}
@keyframes city {
  from {
    left: -150px;
  }
  to {
    left: -90px;
  }
}

/* Text*/
.tabcontent p {
  color: $text;
  margin: 0;
  padding: 0;
  line-height: 28px;
  font-weight: 100;
  transition: all 1s ease;
  animation: fadeEffect 0.6s ease;
  width: 100%;
  font-size: 2.5vh;
}
@keyframes fadeEffect {
  from {
    opacity: 0;
    margin-left: 30px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}
