.container {
  display: flex;
  width: 100%;
  height: 100%;
}
.left {
  width: 30%;
  height: 100%;
  margin: 0;
}
.right {
  width: 70%;
  height: 100%;
  margin: 0;
}
.search {
  position: relative;
  margin: 0;
  padding: 0;
  left: calc(95% - 300px);
  top: 20px;
  height: 45px;
  width: 300px;
  padding: 6px 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 22px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.rightBottom {
  width: 100%;
  margin-top: 25px;
  height: calc(100% - 100px);
}

// 회원 검색창
.errText {
  position: absolute;
  top: 25%;
  left: -180px;
  width: 300px;
  height: 100%;
  color: red;
}
.searchForm {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .searchText {
    height: 90%;
    width: 70%;
    margin: 0 10px;
    padding: 0 10px;
    border-radius: 30px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #444;
    &:focus,
    &:active {
      outline: none;
      border: none;
    }
  }
  .searchBtn {
    width: 10%;
    height: 90%;

    background: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    padding: 0 5px;
  }
  .icon {
    height: 100%;
    size: 100%;
  }
}

.leftProfile {
  position: relative;
  left: 8%;
  width: 100%;
  height: 70%;
}
.buttonContainer {
  width: 100%;
  height: 23%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button {
  width: 80%;
  height: 30%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 13px;
  background-size: 200% auto;
}
.button:hover,
.button:focus {
  background-position: right center;
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  animation: gelatine 0.5s 1;
}
.button,
.button:link,
.button:visited {
  background-color: #ffdab9;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.buttonText {
  font-size: 3.5vh;
}
@mixin transform($properties) {
  -webkit-transform: $properties;
  -ms-transform: $properties;
  transform: $properties;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}
@include keyframes(gelatine) {
  from,
  to {
    @include transform(scale(1, 1));
  }
  25% {
    @include transform(scale(0.9, 1.1));
  }
  50% {
    @include transform(scale(1.1, 0.9));
  }
  75% {
    @include transform(scale(0.95, 1.05));
  }
  from,
  to {
    @include transform(scale(1, 1));
  }
  25% {
    @include transform(scale(0.9, 1.1));
  }
  50% {
    @include transform(scale(1.1, 0.9));
  }
  75% {
    @include transform(scale(0.95, 1.05));
  }
}
.profileData {
  border-radius: 10px;
  width: 90%;
  height: 95%;
  margin: 0 auto;
  margin-top: 3%;

  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 22px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: relative;
}
.profileContainer {
  position: relative;
  width: 95%;
  height: 95%;
  margin: 0 auto;
  top: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
}

$text: var(--color-grey-text);
$m01: var(--color-blue-m1);
$m02: var(--color-blue-m2);
$n01: var(--color-blue-n1);
$n02: var(--color-blue-n2);
.content {
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}
.tabs {
  margin: 0;
  background-image: linear-gradient(135deg, $n01 0%, $n02 50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  width: 70%;
  border-radius: 2px 2px 0px 0px;
}
.tablinks {
  background: transparent;
  background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);
  border: none;
  outline: none;
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vh;
  overflow: hidden;
  transition: 0.3s ease;

  &:before {
    background-image: linear-gradient(135deg, $m01 0%, $m02 100%);
    content: "";
    width: 100%;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    z-index: 2;
  }
  &:hover::before {
    height: 100%;
    z-index: 2;
    bottom: 0;
  }
}

.tablinks.active {
  background-color: white;
  z-index: 0;
  border-right: 0px;
  border-left: 0px;
  height: 110px;
  bottom: 0px;
  overflow: hidden;

  &:before {
    content: "";
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;
  }
}

.tablinks.active p,
.tablinks.active:hover p {
  opacity: 1;
  background: -webkit-linear-gradient(135deg, $m01 0%, $m02 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tablinks p {
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: 0.5s ease;
  padding: 0;
  margin: 0;
  color: $text;
  backface-visibility: hidden;
  letter-spacing: 3px;
  font-weight: 500;
}
.tablinks:hover p {
  color: white;
  opacity: 1;
}

.wrapper_tabcontent {
  background-color: white;
  margin-top: 0px;
  position: relative;
  opacity: 1;
  padding: 20px;
  overflow: hidden;
  transition: all 1s ease;
  top: 0;
  height: 70%;
}
.tabcontent {
  display: none;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    height: 30%;
    background: var(--color-blue-m2);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: var(--color-blue-n2);
    border-radius: 10px;
  }
}
@keyframes tabEffect {
  from {
    top: -40px;
  }
  to {
    top: 0px;
  }
}
.tabcontent.active {
  transition: all 1s ease;
  display: block;
}
.wrapper_tabcontent:after {
  content: "";
  height: 5px;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(135deg, $m01 0%, $m02 100%);
  left: 0;
  bottom: 0;
  transition: all 1s ease;
}

/* Title */
.tabcontent h3 {
  font-size: 40px;
  bottom: 40px;
  transform: rotate(-90deg);
  position: absolute;
  left: -80px;
  opacity: 0.1;
  width: 200px;
  height: 60px;
  background: -webkit-linear-gradient(135deg, $m01 0%, $m02 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  animation: city 1s ease;
}
@keyframes city {
  from {
    left: -150px;
  }
  to {
    left: -90px;
  }
}
/* Text*/
.tabcontent .p {
  color: $text;
  margin: 0;
  padding: 0;
  line-height: 28px;
  font-weight: 100;
  transition: all 1s ease;
  animation: fadeEffect 0.6s ease;
  width: 100%;
  font-size: 2.5vh;
}
@keyframes fadeEffect {
  from {
    opacity: 0;
    margin-left: 30px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

.myData {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .item {
    width: 50%;
    height: 20%;

    align-items: center;
    justify-content: center;
  }
}
.badge {
  margin-top: 20px;
  height: 100%;
  .item {
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
  }
  .ImgContainer {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .imgItem {
    position: relative;
    height: 150px;
    width: auto;
    aspect-ratio: 1 / 1;

    margin: 5px;
    opacity: 0.2;
  }

  .itemGet {
    opacity: 1;
  }
}

// stat
.data {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.stat {
  // border: solid black;
  // box-sizing: border-box;
  width: 50%;
  position: fixed;

  svg {
    height: auto;
    width: 100%;

    .text {
      font-size: 2.5vh;
      text-align: center;
      display: flex;
      position: relative;
    }

    .tool-illustrator {
      position: absolute;
      transform: translate(170px, 110px);
    }

    .tool-indesign {
      position: absolute;
      transform: translate(180px, 390px);
    }

    .tool-sketch {
      position: absolute;
      transform: translate(50px, 190px);
    }

    .tool-invision {
      position: absolute;
      transform: translate(35px, 317px);
    }

    .tool-scss {
      position: absolute;
      transform: translate(65px, 190px);
    }

    .tool-git {
      position: absolute;
      transform: translate(53px, 315px);
    }

    .tool-vscode {
      position: absolute;
      transform: translate(185px, 390px);
    }

    .tool-css {
      position: absolute;
      transform: translate(198px, 120px);
    }
  }
}

@keyframes designTool {
  0% {
    stroke-dashoffset: 700;
  }
  10% {
    stroke-dashoffset: 0;
  }
  70% {
    stroke-dashoffset: 0;
  }
  90% {
    stroke-dashoffset: -700;
  }
  100% {
    stroke-dashoffset: -700;
  }
}
.design-tool-line {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: designTool 6s ease-out infinite running;
}
.items {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 55%;
  width: 50%;
}
.item {
  box-sizing: border-box;

  border-radius: 10px;
  width: 85%;
  height: 100px;
  padding: 5px;
  margin: 2px 2px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3.5vh;
  backdrop-filter: blur(8px);
  background-color: rgba($color: #fff, $alpha: 1);
  border-radius: 20px;
  box-shadow:
    0px 10px 18px -5px rgba(204, 229, 255, 0.8),
    inset -10px -10px 7px 0px rgba(204, 229, 255, 0.4),
    inset 15px 15px 7px 0px rgb(255, 255, 255);
  transition: all 0.3s ease;
  &:hover {
    box-shadow:
      0px 15px 30px -2px rgba(204, 229, 255, 0.8),
      inset 10px 10px 7px 0px rgba(204, 229, 255, 0.4),
      inset -15px -15px 7px 0px rgb(255, 255, 255);
  }

  position: relative;
  &.titleItem {
    height: inherit;
    font-size: 3vh;
  }
  &.quizCount {
    justify-content: flex-start;
  }
  span {
    font-size: 3vh;
    width: 35%;
    margin-left: 10%;
    padding-left: 5%;
    box-sizing: border-box;
  }
  .countcount {
    font-size: 3.5vh;
    width: 50%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.friendsTab {
  border: solid black;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
}

.noDataStat {
  position: relative;
  top: -15px;
  width: 85%;
  margin: 0 auto;
}
.noFlow {
  overflow-y: hidden;
}
