.profileData {
  border-radius: 10px;
  width: 90%;
  height: 95%;
  margin: 0 auto;
  margin-top: 3%;

  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 22px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: relative;
}

.updateContainer {
  position: relative;
  margin: 0 auto;
  top: 5%;
  width: 90%;
  height: 90%;
  font-size: 3vh;
}
.title {
  font-size: 4vh;
  text-align: center;

  background: #feac5e;
  color: #fff;
  position: absolute;
  padding: 8px 15px;
  top: -10px;
  left: 0%;
  border-radius: 10px;
  transform: rotate(-1deg);
  z-index: 2;
}
.form {
  padding-top: 5%;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 22px 0 rgba(31, 38, 135, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 30px;
}
.flex {
  width: 90%;
  height: 75%;
  margin: 1% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  font-size: 1.8rem;
}
.imageInput {
  padding: 0 25px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.imageSelect {
  background-color: #fff;
  width: 200px;
  height: 250px;
  border: 0.5px solid gray;
}

.inputImg {
  display: none;
}
.col {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  width: 55%;
  height: 80%;

  .inputBox {
    width: 100%;
  }
  .details {
    width: 100%;
    font-size: 2.5vh;
  }
  .input {
    height: 6vh;
    width: 100%;
  }
  input {
    height: 4vh;
    width: 70%;
    margin: 5px 10px 5px 0;

    outline: none;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

    &:focus {
      border-color: var(--color-button);
    }
  }
}

.buttons {
  width: 70%;
  height: 12%;

  display: flex;
  justify-content: space-around;
}
.button {
  height: 100%;
  width: 200px;

  text-align: center;
  border-radius: 13px;
  background-size: 200% auto;
}
.button:hover,
.button:focus {
  background-position: right center;
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  animation: gelatine 0.5s 1;
}
.button,
.button:link,
.button:visited {
  background-color: var(--color-button);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
@mixin transform($properties) {
  -webkit-transform: $properties;
  -ms-transform: $properties;
  transform: $properties;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}
@include keyframes(gelatine) {
  from,
  to {
    @include transform(scale(1, 1));
  }
  25% {
    @include transform(scale(0.9, 1.1));
  }
  50% {
    @include transform(scale(1.1, 0.9));
  }
  75% {
    @include transform(scale(0.95, 1.05));
  }
  from,
  to {
    @include transform(scale(1, 1));
  }
  25% {
    @include transform(scale(0.9, 1.1));
  }
  50% {
    @include transform(scale(1.1, 0.9));
  }
  75% {
    @include transform(scale(0.95, 1.05));
  }
}
.check {
  width: 80px;
  height: 40px;
  border-radius: 50px;
  font-size: 16px;

  &:hover,
  &:focus {
    animation: none;
  }
  &:hover {
    box-shadow: 0px 0px 10px#fff;
  }
}

.checkText {
  font-size: 2vh;
  padding-left: 5px;
  // height: 35px;
}
.deleteUser {
  margin-top: 10px;
  font-size: 2vh;
}
