.main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: url("../../public/images/background2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

// 로고
.logo {
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
}
.logo span {
  position: relative;
  top: 10px;
  display: inline-block;
  animation: bounce 0.7s ease infinite alternate;
  font-family: var(--font-logo), "Open Sans";
  font-size: 250px;

  color: #fff;
  text-shadow:
    0 1px 1px #ccc,
    0 2px 2px #ccc,
    0 3px 3px #ccc,
    0 4px 4px #ccc,
    0 5px 5px #ccc,
    0 6px 6px #ccc,
    0 7px 7px #ccc,
    0 10px 10px rgba(0, 0, 0, 0.4);
}
.logo span:nth-child(1) {
  color: #fa659d;
}
.logo span:nth-child(2) {
  color: #f9ad00;
  animation-delay: 0.1s;
}
.logo span:nth-child(3) {
  color: #8366fe;
  animation-delay: 0.2s;
}
.logo span:nth-child(4) {
  color: #01ccd2;
  animation-delay: 0.3s;
}
.logo span:nth-child(5) {
  color: #f95006;
  animation-delay: 0.4s;
}
@keyframes bounce {
  100% {
    top: -10px;
    text-shadow:
      0 1px 1px #ccc,
      0 2px 2px #ccc,
      0 3px 3px #ccc,
      0 4px 4px #ccc,
      0 5px 5px #ccc,
      0 6px 6px #ccc,
      0 7px 7px #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

$bg: #fff;
$text: #382b22;
$light-orange: #ffe0d0;
$orange: #ffdab9;
$dark-orange: #ff7a49;
$orange-border: #f76127;
$orange-shadow: #ffdab9;

// Click to Start 버튼
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.start {
  position: absolute;
  top: 80vh;

  width: 300px;
  height: 50px;

  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  span {
    font-size: 1.8rem;
  }
  &.login {
    font-weight: 600;

    color: $text;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: $light-orange;
    border: 2px solid $orange-border;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition:
      transform 150ms cubic-bezier(0, 0, 0.58, 1),
      background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $dark-orange;
      border-radius: inherit;
      box-shadow:
        0 0 0 2px $orange-border,
        0 0.625em 0 0 $orange-shadow;
      transform: translate3d(0, 0.75em, -1em);
      transition:
        transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    // 호버
    &:hover {
      background: orange;
      transform: translate(0, 0.25em);
      &::before {
        box-shadow:
          0 0 0 2px $orange-border,
          0 0.5em 0 0 $orange-shadow;
        transform: translate3d(0, 0.5em, -1em);
      }
    }
    // 클릭
    &:active {
      background: $orange;
      transform: translate(0em, 0.75em);
      &::before {
        box-shadow:
          0 0 0 2px $orange-border,
          0 0 $orange-shadow;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
}

// Sign-up 페이지
.container {
  position: relative;
  height: 80%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// 상단 체크박스
.label {
  padding-top: 10px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 2rem;
  font-weight: bold;
}
.checkbox:checked,
.checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px 15px;
  cursor: pointer;
  background-color: #ffeba7;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: $dark-orange;
  content: "";
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.cardWrap {
  position: relative;
  width: 30%;
  height: 80%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin: 0;
  margin-top: 30px;
}
.cardWrapper {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 10px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.center-wrap {
  position: absolute;
  width: 100%;
  height: 95%;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}
.rotate {
  transform: rotateY(180deg);
}

// 하단 뒤로가기 버튼
$orange: #ffdab9;
.button {
  width: 300px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 13px;
  background-size: 200% auto;
  &:hover {
    background-position: right center;
  }
}
.btnAct,
.btnAct:link,
.btnAct:visited {
  background-color: $orange;
  &:hover,
  &:focus {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
  }
}
@mixin transform($properties) {
  -webkit-transform: $properties;
  -ms-transform: $properties;
  transform: $properties;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}
@include keyframes(gelatine) {
  from,
  to {
    @include transform(scale(1, 1));
  }
  25% {
    @include transform(scale(0.9, 1.1));
  }
  50% {
    @include transform(scale(1.1, 0.9));
  }
  75% {
    @include transform(scale(0.95, 1.05));
  }
  from,
  to {
    @include transform(scale(1, 1));
  }
  25% {
    @include transform(scale(0.9, 1.1));
  }
  50% {
    @include transform(scale(1.1, 0.9));
  }
  75% {
    @include transform(scale(0.95, 1.05));
  }
}
