.main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  background-image: url("../../public/images/background2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.Logo {
  border: 1px solid white;
  position: absolute;
  /* 로고 확정 후 위치 이동 */
  top: 30%;
  left: calc(50% - 250px);
  width: 500px;
  height: 150px;
  display: flex;
}
.login {
  border-radius: 4px;
  /* 박스 테두리 효과, 호버 등등 줘야함 */

  position: absolute;
  bottom: 100px;
  left: calc(50% - 100px);
  width: 200px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-login-btn);
  color: var(--color-login-text);
  font-size: 1.6rem;
}
