.book {
  width: 100px;
  height: 80px;
  background-color: var(--color-book);
}
.page1 {
  width: 100px;
  height: 80px;
  background-color: var(--color-page1);
}
.page2 {
  width: 100px;
  height: 80px;
  background-color: var(--color-page2);
}
.page3 {
  width: 100px;
  height: 80px;
  background-color: var(--color-page3);
}
