:root {
  /* color */
  --color-bg: #f4f2e6;
  --color-book: #dba741;
  --color-page1: #e7d19f;
  --color-page2: #f5eecb;
  --color-page3: #f8ffff;

  --color-gray: #666;

  --color-nav: #c8c8c8;
  --color-nav-active: red;

  /* 버튼 컬러 */
  /* 임시임시 바꿔야해 */
  --color-login-btn: orange;
  --color-login-text: black;
}
