body {
  background-color: var(--color-bg);
  font-family: var(--font-poor), sans-serif;
  margin: 0;
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
button,
a {
  all: unset;
  cursor: pointer;
}
/* home layout */
.body-container {
  /* 16:9 비율 지정 */
  width: 100vw;
  height: 56.25vw;
  margin: 0;
  padding: 0;
  /* border: 5px solid black;
  box-sizing: border-box; */
  max-height: 100vh;
  max-width: 177.78vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.book-cover {
  background-color: var(--color-book);
  width: 98%;
  height: 90%;
  position: relative;
  bottom: -4%;
  border-radius: 10px;
}
.book-page1 {
  width: 94%;
  height: 10px;
  background-color: var(--color-page1);
  margin: auto;
  position: relative;
  top: 20px;
}
.book-page2 {
  width: 96%;
  height: 20px;
  background-color: var(--color-page2);
  margin: auto;
  position: relative;
  top: 20px;
}
.book-page {
  width: 98%;
  height: calc(100% - 50px);

  overflow: hidden;
  position: relative;
  bottom: 0;
  left: 1%;
}
.book-page::after {
  content: "";
  background: url("/images/background2.png");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);

  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.main-container {
  position: relative;
  top: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  height: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
/* 스크롤 CSS */
.main-container::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
.main-container::-webkit-scrollbar-thumb {
  height: 30%;
  background: var(--color-page1);
  border-radius: 10px;
}
.main-container::-webkit-scrollbar-track {
  background: var(--color-gray);
  border-radius: 10px;
}

/* home Nav */
.home-nav {
  box-sizing: border-box;
  position: absolute;
  top: -50px;
  width: 90%;
  left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* 뒤로가기 버튼 */
.back-nav {
  position: absolute;
  top: -50px;
  left: 10vw;
  width: 60vw;
  height: 100px;
  display: flex;
}
.nav-item {
  background-color: var(--color-nav);
  border-radius: 20px 20px 0 0;
  width: 20%;
  min-width: 150px;
  height: 80px;
}

.active {
  height: 115px;
  background-color: var(--color-nav-active);
  border: solid var(--color-nav-stroke);
  box-sizing: border-box;
}
.nav-text {
  font-size: 40px;
  font-weight: bold;
  color: var(--color-nav-font);
  text-align: center;
  padding-top: 12px;
}
