.home-nav {
  position: absolute;
  top: -50px;
  left: 20vw;
  width: 60vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.back-nav {
  position: absolute;
  top: -50px;
  left: 10vw;
  width: 60vw;
  height: 100px;
  display: flex;
}

.nav-item {
  background-color: var(--color-nav);
  border-radius: 20px 20px 0 0;
  width: 230px;
  height: 80px;
  cursor: pointer;
}

.nav-text {
  font-size: 40px;
  color: var(--color-nav-font);
  text-align: center;
  padding-top: 12px;
}

.active {
  height: 120px;
  background-color: var(--color-nav-active);
}
