<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
>
<head>
    <title></title>
    <!-- IN-line JS 영역-->
    <script th:inline="javascript" type="text/javascript">

    </script>

</head>
<body>
<div>
    <div>로그인</div>
    <a href="/oauth2/authorization/kakao">카카오톡 로그인</a>
</div>
</div>

</body>
</html>