$blue: #87ceeb;
$softBlue: #cce5ff;
$hardBlue: #6495ed;

.left {
  width: 70%;
  height: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.right {
  position: relative;
  width: 30%;
  height: 100%;
  margin: 0;
}
.GameRoom {
  border-radius: 10px;
  height: 65%;
  padding: 15px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
.chatBox {
  margin-top: 1%;
  height: 32%;
  background: rgba($color: $softBlue, $alpha: 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  box-sizing: border-box;
}
.waitingBox {
  border: solid black;

  position: fixed;
  height: 54%;
  width: 30%;
  padding-right: 5px;
  padding-bottom: 1%;
  display: flex;
  box-sizing: border-box;
}
.profileItem {
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 2vh;
  right: 10px;

  border: 1.5px solid #37353f;
  border-radius: 0 0 125px 3px / 3px 85px 5px 55px;
  box-shadow: 4px 4px 0 0 rgba(255, 165, 0, 0.8);
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

// 방 목록
.rooms {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);

  border-radius: 10px;
  padding: 3px 0;
  height: 62%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  overflow: auto;

  /* 스크롤 CSS */
  &::-webkit-scrollbar {
    width: 10px;
    height: inherit;
  }
  &::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: $blue; /* 스크롤바의 색상 */
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    /*스크롤바 뒷 배경 색상*/
    background: grey;
    border-radius: 10px;
  }
}

// 방 하나
.roomItem {
  box-sizing: border-box;

  border-radius: 10px;
  width: 48%;
  height: 100px;
  padding: 5px;
  margin: 2px 2px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  backdrop-filter: blur(8px);
  background-color: rgba($color: #fff, $alpha: 1);
  border-radius: 20px;
  box-shadow:
    0px 10px 18px -5px rgba(204, 229, 255, 0.8),
    inset -10px -10px 7px 0px rgba(204, 229, 255, 0.4),
    inset 15px 15px 7px 0px rgb(255, 255, 255);
  transition: all 0.3s ease;
  &:hover {
    box-shadow:
      0px 15px 30px -2px rgba(204, 229, 255, 0.8),
      inset 10px 10px 7px 0px rgba(204, 229, 255, 0.4),
      inset -15px -15px 7px 0px rgb(255, 255, 255);
  }
  .roomId {
    font-size: 1.6rem;
    width: 50px;
    text-align: center;
  }
  .roomData {
    border-left: 1px solid #647896;
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
  }
  .roomData .name {
    font-size: 1.4rem;
    padding: 3px;
  }
  .state {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3px;
  }
  .waiting {
    color: $hardBlue;
  }
  .playing {
    color: grey;
  }
  .roomQuiz {
    left: 0;
    font-size: 1.1rem;
  }
}

// 게임 접속 버튼
@mixin createButton($width, $height, $radius, $gradientFirst, $gradientThird, $shadowColor) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-image: linear-gradient(135deg, $gradientFirst 0%, $gradientThird 100%);
  box-shadow:
    0 10px 1px 0px $shadowColor,
    inset 0px -8px 16px 0px $shadowColor;
  outline: none;
  border: none;
  color: white;
  text-align: center;
  font-weight: 600;
  min-width: 160px;
}
.roomBtn {
  display: flex;
  height: 25%;
  min-height: 40px;

  margin-bottom: 10px;
  justify-content: space-between;
}
.boxButton {
  margin: 0 5px 5px;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  &:nth-child(1) {
    @include createButton(180px, 80%, 10px, #ff9a88, #ff7b6b, rgba(255, 123, 107, 0.5));
  }
  &:nth-child(2) {
    @include createButton(180px, 80%, 10px, #90caff, #6ba8ff, rgba(107, 168, 255, 0.5));
  }
  &:nth-child(3) {
    @include createButton(180px, 80%, 10px, #81fbb8, #28c76f, rgba(60, 211, 128, 0.5));
  }
  &:hover {
    transform: translatey(5px);
    box-shadow: none;
  }
  &:active {
    opacity: 0.5;
  }
}

// 게임 방 버튼
.roomActionBtn {
  height: 10%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .roundButton {
    border-radius: 50px;
    height: 5%;
    width: 150px;
    text-align: center;
    margin: 0 5px 10px;
    padding: 5px;
    font-size: 1.6rem;
    transition: all 0.3s ease-in-out;
    border: 2px solid $softBlue;
    background-color: #fff;
    border-radius: 150px;

    &:hover,
    &:active,
    &:focus {
      background-color: $softBlue;
    }
  }
  .activeRoom {
    background-color: $softBlue;
  }
  .reload {
    width: 110px;
    border-radius: 50px;
    height: 4vh;
    text-align: center;
    margin: 0 5px 10px;
    padding: 5px;
    font-size: 1.6rem;
    transition: all 0.3s ease-in-out;
    border: 2px solid $softBlue;
    background-color: #fff;
    border-radius: 110px;
    &:hover {
      top: -1px;
    }
    &:active {
      top: 1px;
      background-color: $softBlue;
    }
  }
}

// 방 생성 모달
.modalContainer {
  width: 1000px;
  height: 500px;
}

// 채팅
.chatBox {
  .chatLog {
    height: 72%;
    width: 98%;
    background: var(--color-chat, white);
    overflow: auto;
  }
  .chatInput {
    height: 20%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    input {
      width: 92%;
      height: 30px;
    }
    button {
      border: 1px solid black;
      border-radius: 15px;

      box-sizing: border-box;
      width: 5%;
      height: 30px;
      background-color: #fff;
      text-align: center;
    }
  }
}

// 대기실 유저
.userBigBox {
  width: 86%;
  padding: 5px;
  border-radius: 15px 0 15px 15px;
  background-color: var(--color-wait);
  display: flex;
  align-items: center;
  justify-content: center;
}
.userBox {
  background-color: #f9f9f9;
  background-image: linear-gradient(#e4e4e4 1px, transparent 1px);
  position: relative;
  width: 95%;
  height: 96%;
  overflow: auto;
  border-radius: 15px 0 0 15px;
  padding: 5px;
  /* 스크롤 CSS */
  &::-webkit-scrollbar {
    width: 10px;
    height: inherit;
  }
  &::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #e7d19f; /* 스크롤바의 색상 */
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    /*스크롤바 뒷 배경 색상*/
    background: var(--color-wait);
  }
}
.userNav {
  width: 14%;
}
.tab {
  background-color: var(--color-wait);
  &:active,
  &:focus {
    width: 120%;
  }

  filter: drop-shadow(3px -3px 2px rgba(0, 0, 0, 0.05));
  margin: 0 0 2px 0;
  height: 120px;
  width: 100%;
  border-radius: 0 15px 15px 0;
  div {
    font-size: 1.6rem;
    word-wrap: break-word;
    width: 1.7rem;
    text-align: center;
    margin-left: 30%;
    border-radius: 5px;
    color: #fff;

    &:active,
    &:focus {
      z-index: 50;
      position: relative;
      background: white;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      color: black;
      outline: 1px solid rgba(255, 255, 255, 0.7);
      border: 1px solid black;
    }
  }
}
.tabOpen {
  background-color: var(--color-wait);
  width: 120%;
  div {
    z-index: 8;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: black;
    border: 1px solid black;
  }
}

// 유저 프로필
.userItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // border-bottom: 1px solid rgba(orange, 0.7);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2px 4px;
  margin: 4px 2px;

  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  .profile {
    position: relative !important;
    width: 18% !important;
    height: 100% !important;
    margin: 0;
    padding-left: 5px;
  }
  .userItemBox {
    width: 78%;
    padding: 0;
  }
  .subBox {
    // border: 1px solid black;
    width: 100%;
    height: 30px;
    margin: 5px 0;
  }
}

.selected {
  background-color: #007bff; /* 선택된 경우의 배경색 (파란색) */
  color: #fff; /* 선택된 경우의 글자색 (흰색) */
  /* 기타 스타일 설정 */
}
