.container {
  display: flex;
  width: 100%;
}
.left {
  width: 70%;
  height: 80vh;
  margin: 0 10px;
}
.right {
  width: 25%;
  height: 80vh;
  margin: 0;
}

// 게임 목록
// 게임 버튼임
@mixin createButton($width, $height, $radius, $gradientFirst, $gradientThird, $shadowColor) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-image: linear-gradient(135deg, $gradientFirst 0%, $gradientThird 100%);
  box-shadow:
    0 10px 1px 0px $shadowColor,
    inset 0px -8px 16px 0px $shadowColor;

  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  text-align: center;
  font-weight: 600;
}

.roomBtn {
  display: flex;
  height: 10vh;
  margin-bottom: 10px;
  justify-content: space-between;
}
.boxButton {
  margin: 0 5px 5px;
  font-size: 2rem;

  transition: all 0.3s ease-in-out;
  &:nth-child(1) {
    @include createButton(200px, 8vh, 10px, #feb692, #ea5455, rgba(238, 103, 97, 0.5));
  }
  &:nth-child(2) {
    @include createButton(200px, 8vh, 10px, #abdcff, #0396ff, rgba(30, 161, 255, 0.5));
  }
  &:nth-child(3) {
    @include createButton(200px, 8vh, 10px, #81fbb8, #28c76f, rgba(60, 211, 128, 0.5));
  }
  &:hover {
    transform: translatey(5px);
    box-shadow: none;
  }
  &:active {
    opacity: 0.5;
  }
}
$roundBtn: #85c9ed;
.roomActionBtn {
  height: 10%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.roundButton {
  border-radius: 50px;
  height: 4vh;
  width: 150px;
  text-align: center;
  margin: 0 5px 10px;
  padding: 5px;
  font-size: 1.6rem;
  transition: all 0.3s ease-in-out;
  border: 2px solid $roundBtn;
  background-color: #fff;
  border-radius: 25px / 17px;
  &:hover {
    top: -1px;
  }
  &:active,
  &:focus {
    top: 1px;
    background-color: $roundBtn;
  }
}
.activeRoom {
  background-color: $roundBtn;
}
.reload {
  width: 110px;
  border-radius: 50px;
  height: 4vh;
  text-align: center;
  margin: 0 5px 10px;
  padding: 5px;
  font-size: 1.6rem;
  transition: all 0.3s ease-in-out;
  border: 2px solid $roundBtn;
  background-color: #fff;
  border-radius: 25px / 17px;
  &:hover {
    top: -1px;
  }
  &:active {
    top: 1px;
    background-color: $roundBtn;
  }
}

.GameRoom {
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  height: 55vh;
  padding: 10px;

  .rooms {
    height: 40%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
  }
  /* 스크롤 CSS */
  .rooms::-webkit-scrollbar {
    width: 10px;
    height: inherit;
  }
  .rooms::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: var(--color-page1); /* 스크롤바의 색상 */
    border-radius: 10px;
  }
  .rooms::-webkit-scrollbar-track {
    /*스크롤바 뒷 배경 색상*/
    background: var(--color-gray);
  }

  .roomItem {
    border: 1px solid black;
    border-radius: 10px;
    width: 48%;
    height: 100px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  .roomId {
    font-size: 1.6rem;
    width: 50px;
    height: 50%;
    text-align: center;
  }
  .roomData {
    border-left: 1px solid black;
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
  }
  .roomData .name {
    font-size: 1.4rem;
    padding: 3px;
  }
  .state {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3px;
  }
  .waiting {
    color: green;
  }
  .playing {
    color: grey;
  }
  .roomQuiz {
    left: 0;
    font-size: 1.1rem;
  }
}

// 방 생성 모달
.modalContainer {
  width: 1000px;
  height: 500px;
}

// 채팅
.chatBox {
  margin-top: 1%;
  height: 20vh;
  background: var(--colors-chat);
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 10px 0;
  box-sizing: border-box;
  .chatLog {
    height: 72%;
    width: 98%;
    background: var(--color-chat, white);
    overflow: auto;
  }
  .chatInput {
    height: 20%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    input {
      width: 92%;
      height: 30px;
    }
    button {
      border: 1px solid black;
      border-radius: 15px;

      box-sizing: border-box;
      width: 5%;
      height: 30px;
      background-color: #fff;
      text-align: center;
    }
  }
}

// 대기실 유저
.waitingBox {
  height: 58vh;
  width: 30%;
  position: absolute;
  display: flex;

  .userBigBox {
    width: 86%;
    padding: 5px;
    border-radius: 15px 0 0 15px;
    background-color: var(--color-wait, red);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .userBox {
    position: relative;
    width: 95%;
    height: 96%;
    overflow: auto;
    background-color: var(--color-wait, white);
    border-radius: 15px;
    padding: 5px;
  }
  .userNav {
    width: 13%;
    border: 1px solid red;

    button {
      margin: 0 0 10px 0;
      height: 120px;
      width: 100%;
      border: 1px solid red;
      background-color: var(--color-wait, grey);
      border-radius: 0 15px 15px 0;
    }
  }
}

// 대기실 유저 프로필
.userItem {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 4px 8px;
  margin: 3px;
  .profile {
    width: 20%;
    border: 1px solid black;
    margin: 5px 0;
  }
  .userItemBox {
    width: 78%;
    padding: 0;
  }
  .subBox {
    border: 1px solid black;
    width: 100%;
    height: 30px;
    margin: 5px 0;
  }
}

// 내 프로필
.profileItem {
  width: 28%;
  height: 10vh;
  bottom: 10vh;
  position: absolute;
  border: 1px solid black;
}
