$blue: #87ceeb;
$softBlue: #cce5ff;
$hardBlue: #6495ed;

$border-radius: 0 0 125px 3px/3px 85px 5px 55px;
$border-radius-rounded: 4px;
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

$border: #37353f;

$green: rgb(205, 220, 57);
$purple: #965784;
$pink: #fc8b93;
$orange: #feac5e;
$yellow: #fdc830;
$font-title: "Chelsea Market", sans-serif;
@mixin border($width) {
  border: $width solid $border;
}

// 모달 전체
.modalContainer {
  width: 1000px;
  height: 200px;

  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  position: relative;
  margin: 20px;
  margin-top: 50px;
  padding: 3rem 2rem 1.2rem;

  background-color: #fff;
  border: 1px solid #37353f;

  &:before,
  &:after {
    top: 0;
    left: 0.25%;
    height: 100%;
    border: inherit;
    border-radius: 4px;
    transform: rotate(-0.1deg) scaleX(-1);
    z-index: -1;
    width: 99.5%;
  }
  &:after {
    transform: rotate(-0.25deg);
    left: 0.15%;
  }
}

// 방 생성 모달
.searchModal {
  max-width: 600px;
  width: 30vw;
  height: 200px;

  .modalImg {
    position: absolute;
    width: 80px;
    height: auto;
    // 원본 이미지 크기 입력
    aspect-ratio: 546 / 863;

    top: -80px;
    left: calc(50% - (80px / 2));
  }
  .searchText {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
}

.form {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.label {
  margin: 0.5rem 0;
}
.inputDiv {
  position: relative;
  width: 100%;
  height: 40%;

  .errMsg {
    font-size: 1.2rem;
    color: red;
  }
}
.input {
  position: relative;
  width: 100%;
}

.button,
.input,
.select {
  outline: none;
  &:focus,
  &:active {
    box-shadow: 0 0 0 2px rgba($blue, 0.5);
  }
}

.inputText,
.select {
  padding: 8px;
  border: 1.5px solid $border;
  border-radius: 4px;
  width: 100%;
}
// .inputRadio {
//   display: none;
//   + label {
//     margin: 5px 15px 5px 0;
//     display: inline-block;
//     position: relative;
//     padding-left: 1.5rem;
//     cursor: pointer;
//     width: auto;
//     &:after {
//       border: 1px dashed;
//       border-radius: 50%;
//       width: 15px;
//       height: 15px;
//       background: transparent;
//       transition: 0.3s ease-in-out;
//       top: 50%;
//       left: 0;
//       margin-top: -10px;
//     }
//     &:hover:after {
//       background: rgba($pink, 0.3);
//     }
//   }
//   &:checked + label:after {
//     background: $pink;
//   }
// }

.inputCheckbox {
  display: none;
  + label {
    margin: 5px 15px 5px 0;
    display: inline-block;
    position: relative;
    padding-left: 1.5rem;
    cursor: pointer;
    width: auto;
    &:before {
      @include border(1.5px);
      border-radius: $border-radius;
      width: 15px;
      height: 15px;
      background: transparent;
      transition: 0.3s ease-in-out;
      top: 50%;
      left: 0;
      margin-top: -10px;
    }
    &:after {
      content: "✓";
      font-size: 1.6rem;
      left: 2px;
      bottom: 0;
      transform: scale(0);
      transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    &:hover:before {
      background: rgba($green, 0.4);
    }
  }
  &:checked + label:before {
    background: rgba($green, 0.8);
  }
  &:checked + label:after {
    transform: scale(1);
  }
}

.btn {
  border: 0.5px solid $border;
  box-sizing: border-box;

  display: inline-block;

  padding: 8px 12px;
  position: relative;
  transition: 0.2s ease-in-out;

  height: 50px;
  width: 40%;
  text-align: center;

  background-color: $softBlue;

  &:before,
  &:after {
    top: 0;
    left: 0;
    transition: 0.2s ease;
  }
  &:before {
    height: 102%;
    width: 102%;

    background-color: $softBlue;
    transform: translate(6px, 6px);

    border: solid black;
    box-sizing: border-box;
  }
  &:after {
    height: 99%;
    width: 99%;
    @include border(1.5px);
    border-radius: 0 0 125px 3px/3px 85px 5px 55px;
  }
  &:hover {
    &:before {
      transform: translate(0);
    }
  }
  &:focus,
  &:active,
  &:hover {
    &:before {
      transform: translate(0);
      background: #afb42b;
    }
  }
}
