.myProfile {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.profile {
  position: relative;
  background: #fff;
  width: 30%;
  height: 100%;
  aspect-ratio: 400 / 450;
  margin: 0;
  padding-left: 5px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.userInfo {
  margin-top: 10px;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 0px;
  font-size: 3vh;
}
.subBox {
  height: 100%;
  width: 30%;
}
.centerBox {
  height: 20%;
}
.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 30%;

  box-sizing: border-box;
}
.button {
  height: 90%;
  width: 50%;
  font-size: 2.5vh;
  padding: 4px 8px;
  text-align: center;
  border-radius: 10px;
  background: rgba(135, 206, 235, 0.5);
  color: var(--color-grey-text);
  margin-bottom: 15px;
}
.level {
  width: 25%;
}
.name {
  width: auto;
}

.btn,
.btn:link,
.btn:visited {
  &:hover,
  &:focus {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
  }
}
@mixin transform($properties) {
  -webkit-transform: $properties;
  -ms-transform: $properties;
  transform: $properties;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}
@include keyframes(gelatine) {
  from,
  to {
    @include transform(scale(1, 1));
  }
  25% {
    @include transform(scale(0.9, 1.1));
  }
  50% {
    @include transform(scale(1.1, 0.9));
  }
  75% {
    @include transform(scale(0.95, 1.05));
  }
  from,
  to {
    @include transform(scale(1, 1));
  }
  25% {
    @include transform(scale(0.9, 1.1));
  }
  50% {
    @include transform(scale(1.1, 0.9));
  }
  75% {
    @include transform(scale(0.95, 1.05));
  }
}
